<a href="https://colab.research.google.com/github/nadinevaliaa/SD2104/blob/main/Nadine_V_LatihanSoal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

No 1

In [9]:
berat_badan = int(input("masukkan berat badan atlit:"))
if berat_badan < 45:
 print("Tidak memenuhi kualifikasi")
elif berat_badan <= 50:
  print("Kelas A")
elif berat_badan <= 55:
  print("Kelas B")
elif berat_badan <= 60:
  print("Kelas C")
elif berat_badan <= 65:
  print("Kelas D")
elif berat_badan <= 70:
  print("Kelas E")
else :
  print("Kelas F")

masukkan berat badan atlit:45
Kelas A

No 2

In [12]:
angka = int(input("masukkan bilangan bulat ratusan (3 digit): "))
ratusan = angka // 100
puluhan = (angka % 100) // 10
satuan = angka % 10

hasil = ratusan ** 3 + puluhan ** 3 + satuan ** 3
if hasil == angka:
  print("angka armstrong")
else :
  print("bukan angka armstrong")

masukkan bilangan bulat ratusan (3 digit): 371
angka armstrong

No 3

In [16]:
pi = 3.1416
jari_jari = int(input("masukkan jari jari bola: "))
volume_bola = 4/3 * pi * jari_jari ** 3
print("volume bola adalah:", volume_bola)

masukkan jari jari bola: 15
volume bola adalah: 14137.199999999999

No 4

In [29]:
jumlah_siswa = 0
total_tinggi = 0
tinggi_badan = int(input("masukkan tinggi badan siswa: "))

if 100 <= tinggi_badan <= 150:
  jumlah_siswa += 1
  total_tinggi += tinggi_badan
else:
 print("tinggi badan tidak valid. masukkan nilai antara 100-200 cm")
if jumlah_siswa > 0:
    rata_rata = total_tinggi / jumlah_siswa
    print("rata-rata tinggi badan siswa:", rata_rata, "cm")
else:
    print("tidak ada data siswa yang valid")

masukkan tinggi badan siswa: 115
rata-rata tinggi badan siswa: 115.0 cm

No 5

In [25]:
N = int(input("Masukkan jumlah mahasiswa: "))

data_mahasiswa = []

for i in range(N):
  nama = input("Masukkan nama mahasiswa: ")
  praktikum = int(input("Masukkan nilai praktikum: "))
  uts = int(input("Masukkan nilai UTS: "))
  uas = int(input("Masukkan nilai UAS: "))

  nilai_akhir = 0.2 * praktikum + 0.4 * uts + 0.4 * uas

  if nilai_akhir >= 85:
    indeks = "A"
  elif nilai_akhir >= 75:
    indeks = "AB"
  elif nilai_akhir >= 70:
    indeks = "B"
  elif nilai_akhir >= 60:
    indeks = "BC"
  elif nilai_akhir >= 50:
    indeks = "C"
  elif nilai_akhir >= 40:
    indeks = "D"
  else:
    indeks = "E"

  data_mahasiswa.append([nama, praktikum, uts, uas, nilai_akhir, indeks])

print("----------------------------------------------------")
print("Nama | Praktikum | UTS | UAS | Nilai Akhir | Indeks")
print("----------------------------------------------------")

for mahasiswa in data_mahasiswa:
  print(f"{mahasiswa[0]} | {mahasiswa[1]} | {mahasiswa[2]} | {mahasiswa[3]} | {mahasiswa[4]} | {mahasiswa[5]}")

Masukkan jumlah mahasiswa: 3
Masukkan nama mahasiswa: san
Masukkan nilai praktikum: 100
Masukkan nilai UTS: 100
Masukkan nilai UAS: 100
Masukkan nama mahasiswa: mingi
Masukkan nilai praktikum: 100
Masukkan nilai UTS: 90
Masukkan nilai UAS: 90
Masukkan nama mahasiswa: yunho
Masukkan nilai praktikum: 100
Masukkan nilai UTS: 90
Masukkan nilai UAS: 80
----------------------------------------------------
Nama | Praktikum | UTS | UAS | Nilai Akhir | Indeks
----------------------------------------------------
san | 100 | 100 | 100 | 100.0 | A
mingi | 100 | 90 | 90 | 92.0 | A
yunho | 100 | 90 | 80 | 88.0 | A