# PROBLEM 1

In [2]:
!pip install pandas

import pandas as pd

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
df = pd.read_csv('C:/MATERI SEMESTER 3/Pemrograman Lanjut/H05.csv')
df

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
0         Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1               Steven Margono    FMIPA      67.43      51.50      57.20
2                 Ryan Sentosa    SAPPK      90.62      37.38      40.73
3         Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4             Alvin Natawiguna     FTSL      65.45      57.67      56.39
...                        ...      ...        ...        ...        ...
5130               Khoirrashif    SITHR      66.14      46.82      56.74
5131      Jefri Hendri Adriano     FTSL      53.68      34.74      33.76
5132               Iki Hidayat     FITB      69.63      35.04      37.65
5133  Muhammad Nashir Sitompul      FTI      79.69      39.06      50.17
5134     Billy Richardo Sagala     STEI      68.68      51.23      66.18

[5135 rows x 5 columns]

# 1.1. HITUNG BANYAKNYA DATA

In [3]:
import pandas as pd

data = pd.read_csv('C:/MATERI SEMESTER 3/Pemrograman Lanjut/H05.csv')

jumlah_data = len(data)

jumlah_data_alt = data.shape[0]

print("Jumlah data:", jumlah_data)

Jumlah data: 5135

# 2.1. TAMPILKAN 10 DATA PERTAMA

In [4]:
print(data.head(10))

                             nama fakultas  nilai_mat  nilai_kim  nilai_fis
0            Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1                  Steven Margono    FMIPA      67.43      51.50      57.20
2                    Ryan Sentosa    SAPPK      90.62      37.38      40.73
3            Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4                Alvin Natawiguna     FTSL      65.45      57.67      56.39
5                   Sasti Safitri     FTSL      60.58      41.91      51.55
6             Dani Yulianto Putra     FTSL      51.67      35.05      48.69
7  Nabila Febitsukarizky Bunyamin     FTTM      71.66      67.61      69.75
8             Ratna Siti Khodijah      FTI      73.06      59.16      59.48
9                    Gita Partiwi     FTSL      69.57      38.84      48.17

# 3.1. TAMPILKAN DATA KE-50 SAMPAI DATA KE-60

In [5]:
data_50_60 = data.iloc[49:60]
print(data_50_60)

                        nama fakultas  nilai_mat  nilai_kim  nilai_fis
49      Alief Rizky Ramadhan    SITHS      84.59      42.44      40.48
50      Arief Syakur Sutedjo     FTTM      84.40      61.21      73.91
51         Fayi Raihan Saleh    FMIPA      60.62      32.57      42.34
52          Erna Kristiawati      FTI      67.48      46.78      52.30
53                    Albert    SAPPK      70.27      50.10      54.01
54  M Jazztyan Indra Pradana     STEI      53.40      43.06      60.30
55      Moch Ginanjar Busiri    FMIPA      74.29      38.44      49.15
56              Aisya Tamara     FITB      71.49      35.86      37.41
57        Tyas Arum Widayati    SAPPK      68.57      37.02      53.25
58                Arif Saleh      FTI     100.00      59.79      55.33
59     Windy Diwita Nisaekti      FTI      67.15      57.72      54.24

# 4.1. HITUNG BANYAKNYA MAHASISWA DI TIAP FAKULTAS

In [15]:
data = pd.read_csv('C:/MATERI SEMESTER 3/Pemrograman Lanjut/H05.csv')
print(data['fakultas'].value_counts())

fakultas
FTI      834
STEI     777
FTSL     660
FMIPA    627
FTTM     579
FTMD     480
FITB     403
SAPPK    315
SITHR    282
SITHS    178
Name: count, dtype: int64

# 5.1. Hitung nilai korelasi antara nilai fisika dan kimia. Tentukan apakah berkorelasi lurus, terbalik, atau tidak berkorelasi.

In [18]:
correlation = df['nilai_fis'].corr(df['nilai_kim'])
print(correlation)

0.7988187423880274

In [17]:
korelasi = data['nilai_fis'].corr(data['nilai_kim'])

print("Nilai korelasi antara Fisika dan Kimia:", korelasi)
if korelasi > 0.7:
    print("Korelasi kuat dan lurus.")
elif korelasi < -0.7:
    print("Korelasi kuat dan terbalik.")
elif -0.7 <= korelasi <= 0.7:
    print("Tidak ada korelasi yang signifikan.")

Nilai korelasi antara Fisika dan Kimia: 0.7988187423880274
Korelasi kuat dan lurus.

# PROBLEM 2

# 1.2. TAMPILKAN NILAI MATEMATIKA, FISIKA, DAN KIMIA MILIK TUAN LEO

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('C:/MATERI SEMESTER 3/Pemrograman Lanjut/H05.csv')
df

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
0         Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1               Steven Margono    FMIPA      67.43      51.50      57.20
2                 Ryan Sentosa    SAPPK      90.62      37.38      40.73
3         Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4             Alvin Natawiguna     FTSL      65.45      57.67      56.39
...                        ...      ...        ...        ...        ...
5130               Khoirrashif    SITHR      66.14      46.82      56.74
5131      Jefri Hendri Adriano     FTSL      53.68      34.74      33.76
5132               Iki Hidayat     FITB      69.63      35.04      37.65
5133  Muhammad Nashir Sitompul      FTI      79.69      39.06      50.17
5134     Billy Richardo Sagala     STEI      68.68      51.23      66.18

[5135 rows x 5 columns]

In [6]:
data = pd.read_csv('C:/MATERI SEMESTER 3/Pemrograman Lanjut/H05.csv')
leo = data[data['nama'] == "Leonardus Kevin"]
if not leo.empty:
    print("\nNilai Leonardus Kevin:")
    print(leo[['nilai_mat', 'nilai_kim', 'nilai_fis']])
else:
    print("\nLeonardus Kevin tidak ditemukan.")

Nilai Leonardus Kevin:
     nilai_mat  nilai_kim  nilai_fis
895      63.53      19.67      26.15

# 2.2. CARI MAHASISWA DENGAN NILAI FISIKA TERTINGGI (JIKA LEBIH DARI SATU, TAMPILKAN SEMUA)

In [7]:
data = pd.read_csv('C:/MATERI SEMESTER 3/Pemrograman Lanjut/H05.csv')

if 'nilai_fis' not in data.columns:
    print("Kolom 'nilai_fis' tidak ditemukan dalam DataFrame.")
else:
   
    nilai_fisika_tertinggi = data['nilai_fis'].max()
    
    mahasiswa_tertinggi = data[data['nilai_fis'] == nilai_fisika_tertinggi]
    
    if not mahasiswa_tertinggi.empty:
        print("Mahasiswa dengan nilai Fisika tertinggi:")
        print(mahasiswa_tertinggi[['nama', 'nilai_fis']])  # Gantilah 'nama' dengan nama kolom yang sesuai
    else:
        print("Tidak ada mahasiswa yang ditemukan.")

Mahasiswa dengan nilai Fisika tertinggi:
                         nama  nilai_fis
1936  Yuniar Fazriani Rusmana      92.57

# 3.2. TAMPILKAN 10 NILAI MAHASISWA DENGAN NILAI KIMIA TERTINGGI

In [6]:
data = pd.read_csv('C:/MATERI SEMESTER 3/Pemrograman Lanjut/H05.csv')

top_10_kimia = data.nlargest(10, 'nilai_kim')  

print("10 Mahasiswa dengan nilai Kimia tertinggi:")
print(top_10_kimia[['nama', 'nilai_kim']])

10 Mahasiswa dengan nilai Kimia tertinggi:
                          nama  nilai_kim
2554      Faathir Reza Avicena      81.50
2779      Dinda A A Z Mundakir      81.34
3544        Tammya Ayu Purnomo      81.20
4934    Alyssa Nadhira Windari      78.83
1137          Izni Nur Ibrahim      78.46
2262      Rinaldi Oky Setiawan      77.44
4070      Ias Azhari Rezkyarno      76.90
2945           Klara Petra T T      76.61
1788  Naudy Germanimo Laksmana      76.38
1310       Mardliyahtur Rohmah      76.36

# 4.2. HITUNG BANYAKNYA NILAI MATEMATIKA DI BAWAH 50

In [7]:
jumlah_bawah_50 = (data['nilai_mat'] < 50).sum()

print(f"Banyaknya nilai Matematika di bawah 50: {jumlah_bawah_50}")

Banyaknya nilai Matematika di bawah 50: 329

# 5.2. HITUNG BANYAKNYA MAHASISWA DI FMIPA

In [8]:
jumlah_fmipa = (data['fakultas'] == 'FMIPA').sum()

print(f"Banyaknya mahasiswa di FMIPA: {jumlah_fmipa}")

Banyaknya mahasiswa di FMIPA: 627